.people{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-column-gap: 5%;
    grid-row-gap: 10px;
    grid-template-areas:
      "a b c"
  }

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.intro {
	width: 75%;
	text-align: center;
}

.photo img {
	width: 75%;
	border-radius: 125px;
    margin-bottom: 5px;
}